<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.12.0" targetFramework="net472" />
  <package id="NUnit3TestAdapter" version="3.17.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="sameerIOTApps.Plugin.SecureStorage" version="2.5.0" targetFramework="net472" />
  <package id="Xamarin.Forms" version="5.0.0.1905" targetFramework="net472" />
</packages>